




  <register-login *ngIf="!authService.user ||  !authService.profile.realName" >
  </register-login>

<div class="row" >
  <div>
    <button (click)="login()" *ngIf="!authService.user">Login With Facebook</button>
    <div class="welcome_st" *ngIf="authService.profile.realName ==null && authService.user " >
      请先完善您的信息
    </div>
  </div>
  <div class="welcome_st" *ngIf="authService.profile.realName !=null && authService.user " >
    Welcome back ,   {{authService.profile.realName}}
  </div>


</div>

<float-button ></float-button>

  <router-outlet></router-outlet>

<div class="row columns" *ngIf="authService.profile.realName !=null && authService.user" >

  <input type="text" id="message" *ngIf="authService.user" placeholder="Chat here..." (keyup.enter)="chatSend($event.target.value)" [(ngModel)]="msgVal" />
<div class="chat-box scroll-bar">
  <div class="chat-container" *ngFor="let item of items | async | reverse ">
    <a href="#">{{item.name}}</a>
    <p>{{item.message}}</p>
  </div>
</div>



</div>
