
input{
  color:white;
}
.chat-container {
  display:block;
  width:100%;

}


.chat-box{
  width:100%;
  height:300px;
  overflow: scroll;
 overflow-scrolling: y;
  overflow-x: hidden;

}

.scroll-bar::-webkit-scrollbar {
  width: 6px;
  background-color: #F5F5F5;
}
.scroll-bar::-webkit-scrollbar-thumb {
  background-color: #000000;
}


.chat-container:nth-child(4) {
  opacity: .8;
}
.chat-container:nth-child(3) {
  opacity: .6;
}
.chat-container:nth-child(2) {
  opacity: .4;
}

.chat-container a {
  text-transform: uppercase;
  font-weight:bold;
  color:#816A98;
  font-size:.8em;
  letter-spacing:2px;
}

.chat-container p
{
  background:#323035;
  padding:1.1em;
  color:white;
  margin: 5px 0 10px 0;
}
#confirmName{

  background:#323035 ;
}

.welcome_st{
  display: block;
  width:100%;
  text-transform: uppercase;
  font-weight:bold;
  color:#816A98;
  font-size:.8em;
  letter-spacing:2px;
  margin-bottom: 30px;
}
